<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>The Winning Team</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static',filename = 'css/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename = 'css/d3Style.css')}}">


</head>

<body>
  <!--navigation bar-->
  <nav class="navbar navbar-expand-md floating p-0">
    <a class="navbar-brand active p-3 ml-2" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" href="/correlation">Correlation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/diversity">Diversity</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/financial">Transfers</a>
          </li>
        </ul>
      </div>
  </nav>
  <!--correlation page-->
  <div class="container-fluid" id="page">
    <div class="container-xxl" id="main">
      <div class="row justify-content-center" >
        <div class="col-xs-12  col-md-12">
          <form method="POST" action="{{ url_for('home') }}">
              <select class="league" name="league">
                <option id="eng" value="England">England</option>
                <option id="es" value = "Spain">Spain</option>
                <option id="it" value ="Italy">Italy</option>
              </select>
              <button type="submit" class="btn btn-outline-light">Update</button>
          </form>
        </div>
      </div>
      <div class="row justify-content-center my-2" >
        <div class='col-xs-12 col-md-12'>
          <h5 style="color:whitesmoke;">Our goal:</h5>
          <p id="home">Build a dynamic and interactive app that serves up analysis on key 
          features that go into building a winning team and try to make predictions on the final ranking
          in the three leagues we focussed on [EPL, LaLiga, SerieA].</p>
        </div> 
      </div>
      <div class="row justify-content-center mt-4">
        <div class='col-xs-12 col-md-5'>
          <div id="title1">
            <h2 class="text-center" >
              <img id = "league logo" src="{{logo}}" >
              {{title}}
            </h2>
          </div>
          <div id="table-ranking">
          </div>
        </div>
        <div class='col-xs-12 col-md-6 '>
          <div id="title2">
            <h2 class="text-center" >
              <img id = "league logo" src="{{logo}}" style="height: 40px;width: 40px;">
              Predictions
            </h2>
          </div>
          <table class="table table-striped table-sm" id= "table prediction">
            <thead>
              <tr style="background-color:whitesmoke;">
                <th class="font-weight-bold text-center" style="color:rgba(35, 47, 52);font-size: small;">Pred Final Rank</th>
                <th class="font-weight-bold text-center" style="color:rgba(35, 47, 52);">Team</th>
                <th class="font-weight-bold text-center" style="color:rgba(35, 47, 52);">G+</th>
                <th class="font-weight-bold text-center" style="color:rgba(35, 47, 52);">G-</th>
              </tr>
            </thead>
            <tbody>
              {% for rec in pred %}
              <tr>
                <td class="text-center" style="color:whitesmoke">{{ rec["Predictions Final Ranking"]}}</td>
                <td class="font-weight-bold text-center" style="color:whitesmoke">{{ rec["Teams"]}}</td>
                <td class="text-center" style="color:whitesmoke">{{ rec["Goals+"]}}</td>
                <td class="text-center" style="color:whitesmoke">{{ rec["Goals-"]}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>  
  </div>
  <!-- Footer-->
  <div id="footer">
    <p>The Winning Team&copy;2020 by Quentin Mahieu, Louis Razuki, Ezequiel Gallo</p>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="{{url_for('static', filename='js/index.js')}}"></script>
</body>

</html>
